.headerContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  margin-left: 16px;
}

.switches {
  display: flex;
  align-items: center;
}