.title {
  text-align: center;
  margin: 0;
}

@media (min-width: 600px) {
  .recipeContainer {
    display: flex;
  }
}

.container {
  width: 100%;
}

.steps, .ingredients {
  flex-basis: 50%;
  margin: 16px;
}

.stepsList li {
  padding: 8px 8px;
}

.stepsList li:hover, .stepsList li:focus, .hover {
  background: #000000;
  outline: 1px solid #9bff00;
}

.footer {
  text-align: center;
}

.heading {
  border-top: 2px solid #9bff00;
  padding-top: 8px;
  font-weight: 500;
  margin: 0;
}

.ingredientsList li, .stepsList li {
  padding: 8px;
}

.main {
  width: 95vw;
  margin: 0 auto;
  max-width: 1420px;
}

.banner {
  height: 25vh;
  width: 100%;
  margin: 24px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
