.title {
  text-align: center;
  margin: 0;
  color: #ee5e07;
}

.container {
  height: 100vh;
  width: 100vw;
}

@media (min-width: 600px) {
  .recipeContainer {
    display: flex;
  }
}

.container {
  height: 100vh;
  width: 100vw;
}

.steps, .ingredients {
  flex-basis: 50%;
  margin: 16px;
}

.stepsList li {
  padding: 8px 8px;
}

.stepsList li:hover, .stepsList li:focus {
  background: #000000;
  outline: 1px solid;
}

.footer {
  text-align: center;
}

.heading {
  border-top: 2px solid #ee5e07;
  padding-top: 8px;
  font-weight: 700;
  margin: 0;
}